 * {
    box-sizing: border-box
 }
body{
	font-family: "Avenir Next","serif","Lora";
	padding:0px;
	margin:0px;
	background: url("") no-repeat;
	background-size:cover;
}
.header * {
  color:black;
}
.header-logo {
   color:white;
   font-family:'lora','serif';
}



/*header background color & style*/
.header{
	background-color:teal;
	height:100px;
	width:100%;
	margin:0px  auto;

	}
/*header logo style*/
 .header-logo{
      float:left;

      height:inherit;
      font-size:25px;
      /*chang padding from left 10px*/
      padding-left:10px;
      padding-top:20px;
      font-family: "Avenir Next","serif" ,"lora";
 }
/*          search-box input   */
.search-box input{

      height:30px;
      display:block;
      width:90%;
      box-sizing:border-box;
      background:black;

      padding-top:10px;

      outline:none;
      color:#ddd;
      transition:0.5s;

      border-radius:5px;
      margin-top:22px;
      border:0;

}
/*               SEARCH BUTTON     */
.search-btn{
      color:#1da1f3;
      float:left;
      height:30px;
      width:10%;
      background:white;
      text-decoration:none;
      display:flex;
      justify-content:center;
      border-radius:5px;
      margin-left:90%;
      margin-top:-12.5%;
      padding:2%;
      border-radius:5px;
}
/*    MENU BUTTON/MENU ICON        */

.menu-btn{
    display:none;
    padding-top:20px;
    padding-left:40px;
}
.header-list ul{
float:right;
list-style:none;
margin-right:75px;
position :relative;
font-size:;
margin-left:-40px;

}
.header-list ul li{
float:left;
display:inline-block;
margin-top:10px;
margin-left:5px;
margin-right:0px;
background:;


}
.header-list ul li a{
      color: black;
      text-decoration:none;
      line-height:40px;
      font-size:12px;
      padding:9px 15px;

}

.header-list ul li a:hover{
background:darkcyan;
transition:0.5s;
box-shadow: 0 0 5px #66ffff;
border-radius:5px;

}

/*main body background color and style*/
.main{
	background-color:;
	height: 500px;
}

/*footer color and style*/
.footer{
	background-color:black;
	height:325px;
    width:100%;
    margin:0 auto;
	}
.footer * {
    color:white;

}
/*         footer section   */
.footer-section{
    width:33.3333333%;
    display:block;
    float:left;

    height:350px;
    box-sizing:border-box;
    border:0;
    overflow:;
    margin:auto;
    padding:1%


}
/*          footer logo       */
.footer-logo{

    float:left;

     height:30px;
     font-size:25px;
      /*chang padding */
      padding-left:15px;
      padding-top:2px;
      padding-right:10px;
      padding-bottom:2px;
      margin:auto;
      margin-bottom:1% ;

      box-sizing:border-box;

}
.footer-list{
         float:left;
}
/*             contact form    */
.contact-details li{

     list-style:none;
     float:left;
     /*change the top and bottom padding 20px and left right padding 15px*/
     padding-top:1%;
     padding-bottom:1%;
     padding-left:5%;
     padding-right:5%;

     margin: auto;

     overflow:;
     box-sizing:border-box;

 }
                 /*    footer's sublist    */
.sublist li {

     list-style:none;
     float:left;
     /*change the top and bottom padding 20px and left right padding 15px*/

     padding:1%;
     margin-top:10px;
     padding-left:5px;
     padding-right:5px;
     font-size:1em;
     border:px solid white;
     margin-left:1px;
     margin-right:1px;
     width:30%;
     overflow:
     box-sizing:border-box;
     font-size:.8em;

 }
   /*              quick links      */
.quicklink li {

     list-style:none;
     float:left;
     /*change the top and bottom padding 20px and left right padding 15px*/
     padding-top:0.2%;
     padding-bottom:0.2%;
     padding-left:3%;
     padding-right:3%;
     border:px solid white;
     margin-left:20% ;
     margin-right:20%;
     overflow:;
     box-sizing:border-box;


 }
.footer-list a{
     font-color:white;
     text-decoration:none;
     box-sizing:border-box;
     border:0;
     overflow:;
     margin:auto;

}
.footer-list :hover{
     background:grey;
     transition:0.5s;
}
/*           footer heading   */
h3{
    text-align:center;
    padding:5px;
    border:px solid white;
    margin-top:;
    overflow:hidden;



}
   /*                contactform  */
.contact-section{
    max-width:75%;
    margin:auto;
    padding:5px 5px;
    overflow:hidden;

}
.contact-form-text{
   display:block;
   width:100%;
   box-sizing:border-box;
   background:darkgrey;
   padding:5px 5px ;
   outline:none;
   color:#ddd;
   transition:0.5s;
   margin:1.5%;
   border:0;
   text-color:black;

}
.contact-form-text:focus{
   box-shadow:0 0 5px 5px white;
}
textarea.contact-form-text{
   resize:none;
   height:100px;
}
/*          contact form buttom     */
.contact-form-btn{
   float:right;
   border:0;
   background:;
   color:black;
   padding:2px 5px;
   curser:pointer;
}
.contact-form-btn:hover{
   background: #2980b9;
   transistion:0.5s;
}
/*          footer-bottom      */
.footer-bottom{
     height:40px;
     background-color:darkgrey;
     font-size:.8em;
     text-align:center;
     margin:1px;
     padding:2px;



}
     /*    MEDIA QUARIES     */

 @media screen and (max-width:900px){
    .header{
        position:relative;
    }

/*    header list  */
    .header-list ul {
        width: 100%;
        background-color:black;
        padding-bottom:2px;
        float:left;
        margin-right:%;
        margin:1px;
        padding:1px;
        margin:0px;
        padding-left:px;



    }

    .header-list ul{
        max-height:px;
        overflow:hidden;
    }

    .header-list ul li {
        width: 100%;
        background-color:teal;
        margin:%;
        font-size:.8em;
    }



     .header-list ul li a:hover {
        background:#;
        transition:0.5;
     }

     .header-list ul li  a{
        padding:px;

        color:black;

     }
 /*               logout button   */
     .LOGOUT{
        color:red;
     }
     .LOGOUT :hover {
         background: red;
         transistion:0.5s;
     }

/*       main    */
     .main{
       background-color:;
     }

/*         menu button   */
    .menu-btn{
     display:block;
     right:30px;
     top:6px;
     font-size:1.5em;
     border: px solid red;
     position:absolute;
     }

/*           header logo    */
     .header-logo{
     margin-left:0px;
     font-family:"lora","serif";
     font-size:1.1em;
     }
/*        footer   */
     .footer{
     width:100%;
     }
     .footer-section{
      width:100%;
      background-color:black;
      margin-right:0px;
     }
     .footer-logo{
      font-size:em;

      }
      .h3{
       font-size:.9em;
      }
      .sublist li{
         font-size:.7em;
         padding:px;
         margin-right:10px;
         margin-left:10px;
         margin-top:10px;
         width:10%;
         top:10px;

      }

/*      body   */
      body{
       margin:0px;
       padding:0px;
      }

  /*             .show       */
      .showing{
        max-height:em;
      }
      .header-list ul li {
       box-sizing:border-box;
       width:100%;
       text-align:center;
       padding:px 0;

      }

 /*         search button   */
      .search-btn{
         margin-top:-17.5%;
         padding:5%;

      }


    /*           footer bottom   */
      .footer-bottom{
     height:100%;
       color:grey;
       font-color:black;
     font-size:.7em;
     text-align:center;



    }
 }
 }