body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.login-form{
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color:whitesmoke;
    background-size: cover ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    box-shadow: 0 5px 15px #193047;
}
.login-form h1{
    margin-top: 100px;
    font-family: 'Fondamento', cursive;
    color: rgb(8, 8, 8);
    font-size: 40px;
}
.login-form input{
    display: block;
    width: 100%;
    padding: o 16px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Fondamento', cursive;
}
.txtb{
    margin: 20px 0;
    background: rgba(255,255,255,.5);
    border-radius: 6px;
    background-color:white;
    box-shadow: 0 5px 15px #517599;
    font-weight: bold;
}
.login-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background:black;
    color:white;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 0 5px 15px #517599;
    position: relative;
    border: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.login-btn:hover{
    transform: scale(0.96);
}
.login-form a{
    text-decoration: none;
    color: #0a0a0a;
    font-size: 14px;
    font-family: 'Fondamento', cursive;
    padding: 10 px;
    transition: 0.8s;
    display: block;
}
.login-form a:hover{
    background: rgba(0,0,0,.3);
}
p{
    font-size: larger;
}
