<!DOCTYPE html>
<html>
<head>
<title>Privacy Setting</title>
<script src="https://use.fontawesome.com/e54961addf.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
     <div class="bar">

    <h2>  &#160;Profile Account Setting </h2>
    <br>
   


    <nav class="navbar navbar-inverse    navbar-light"  >
                 <div class="container-fluid">
                     <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                       
                   </button>
                    <a class="navbar-brand" href="#"></a>
                     </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                   <ul class="nav navbar-nav">
                     <li><a href="Setting.html"><i class="fa fa-cog" aria-hidden="true" > </i>  General</a></li>
                  <li>
                 
                     <a  href="Security.html"><i class="fa fa-shield" aria-hidden="true"></i>  Security</a>
               
                    </li>
                   <li><a href="location.html"> <i class="fa fa-location-arrow" aria-hidden="true"></i>  Location</a></li>
                   <li class="active"><a href="Privacy.html"> <i class="fa fa-user-secret" aria-hidden="true"></i>    Privacy</a></li>
                   <li><a href="language.html"><i class="fa fa-language" aria-hidden="true"></i>  Language</a></li>
                  
                     </ul>
     
                   </div>
                   </div>
                      </nav>
   
                    
   

             
                              <div class="right-bar">

                              <h3>Privacy Setting </h3>
                              <br>
                                 <h4>
                                 <b>Your activity</b>
                                  <br><br> &#160; &#160;Who can see your future post
                                  <br>
                                  <br>
                                 
                                 
                                  <b>How people can find you</b>
                                  <br><br> &#160; &#160;Who can send you request
                                 

                              </h4>

                                   <br>
                                   <center>
                              <a href="location.html" class="myButton">Update</a>
                              </center>

                               </div>


    </div>

</body>
</html>